In [1]:
import pandas as pd
#load and read the dataset
df = pd.read_csv('MultipleRegressionData.csv')
df.head(5)

          Car       Model  Volume  Weight    CO2
0      Toyota        Aygo  1000.0   790.0   99.0
1  Mitsubishi  Space Star  1200.0  1160.0   95.0
2       Skoda      Citigo  1000.0   929.0   95.0
3        Fiat         500   900.0   865.0   90.0
4        Mini      Cooper  1500.0  1140.0  105.0

In [2]:
X = df[['Volume', 'Weight']]
X.head()

   Volume  Weight
0  1000.0   790.0
1  1200.0  1160.0
2  1000.0   929.0
3   900.0   865.0
4  1500.0  1140.0

In [3]:
X.tail()

    Volume  Weight
33  1600.0  1390.0
34  1600.0  1405.0
35  2500.0  1395.0
36     NaN     NaN
37     NaN     NaN

In [5]:
X = X.fillna(0)
X.tail()

    Volume  Weight
33  1600.0  1390.0
34  1600.0  1405.0
35  2500.0  1395.0
36     0.0     0.0
37     0.0     0.0

In [7]:
y=df.CO2
y.tail()

33    108.0
34    109.0
35    120.0
36      NaN
37      NaN
Name: CO2, dtype: float64

In [8]:
y = y.fillna(0)
y.tail()

33    108.0
34    109.0
35    120.0
36      0.0
37      0.0
Name: CO2, dtype: float64

In [9]:
from sklearn.preprocessing import MinMaxScaler
# Sample data
data = [[-1, 2], [-0.5, 6], [0, 10], [1, 18]]
# Create a MinMaxScaler
scaler = MinMaxScaler()
# Fit and transform the data
normalized_data = scaler.fit_transform(data)
print("Original Data:")
print(data)
print("\nNormalized Data:")
print(normalized_data)

Original Data:
[[-1, 2], [-0.5, 6], [0, 10], [1, 18]]

Normalized Data:
[[0.   0.  ]
 [0.25 0.25]
 [0.5  0.5 ]
 [1.   1.  ]]

In [10]:
# Select columns for normalization
columns_to_normalize = ['Volume', 'Weight', 'CO2']
# Normalize the selected columns
scaler = MinMaxScaler()
df[columns_to_normalize] = scaler.fit_transform(df[columns_to_normalize])
# Display the normalized DataFrame
print("Normalized DataFrame:")
print(df.head())

Normalized DataFrame:
          Car       Model  Volume    Weight       CO2
0      Toyota        Aygo  0.0625  0.000000  0.300000
1  Mitsubishi  Space Star  0.1875  0.387029  0.166667
2       Skoda      Citigo  0.0625  0.145397  0.166667
3        Fiat         500  0.0000  0.078452  0.000000
4        Mini      Cooper  0.3750  0.366109  0.500000

In [11]:
#Standardiation
from sklearn.preprocessing import StandardScaler
# Sample data
data = [[-1, 2], [-0.5, 6], [0, 10], [1, 18]]
# Create a StandardScaler
scaler = StandardScaler()
# Fit and transform the data
standardized_data = scaler.fit_transform(data)
print("Original Data:")
print(data)
print("\nStandardized Data:")
print(standardized_data)

Original Data:
[[-1, 2], [-0.5, 6], [0, 10], [1, 18]]

Standardized Data:
[[-1.18321596 -1.18321596]
 [-0.50709255 -0.50709255]
 [ 0.16903085  0.16903085]
 [ 1.52127766  1.52127766]]

In [14]:
# Select columns for standardization
columns_to_standardize = ['Volume', 'Weight', 'CO2']
# Standardize the selected columns
scaler = StandardScaler()
df[columns_to_standardize] = scaler.fit_transform(df[columns_to_standardize])
# Display the standardized DataFrame
print("Standardized DataFrame:")
print(df.head())

Standardized DataFrame:
          Car       Model    Volume    Weight       CO2
0      Toyota        Aygo -1.593366 -2.103893 -0.411925
1  Mitsubishi  Space Star -1.071901 -0.554072 -0.956120
2       Skoda      Citigo -1.593366 -1.521663 -0.956120
3        Fiat         500 -1.854099 -1.789740 -1.636364
4        Mini      Cooper -0.289703 -0.637846  0.404367

In [15]:
from sklearn import linear_model
reg = linear_model.LinearRegression()

In [16]:
reg.fit(X,y)

LinearRegression()

In [17]:
predictedCO2 = reg.predict([[1300, 2300]])

C:\Users\hp\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [18]:
print(predictedCO2)

[141.37744486]